* {
    
    margin: 0;
    box-sizing: border-box;
}

html {
    padding-top: 10px;
    background-color: rgb(121, 120, 120);
}

.container { 
   position: relative;
   padding-left: 100px;
   
   
   
   
}

.color-div {
    position: absolute;
   

}